{{ 'blog-article-card.css' | asset_url | stylesheet_tag }}

<div class="blog-article-card">
  <a href="{{ article.url }}">
    <div class="blog-article-card__image">{% render 'responsive-image', image: article.image %}</div>
    <div class="blog-article-card__title {{ titleClass }}"><i>{{ article.title }}</i></div>
    <div class="blog-article-card__excerpt {{ textClass }}">{{ article.excerpt }}</div>
  </a>
</div>
