{% if shop.customer_accounts_enabled %}
  {% if customer %}
    <div class="{{ item_class }} {% if page.name == 'account' %}{{ active_class }}{% endif %}">
      <a href="/account">{{ 'layout.customer.account' | t }}</a>
    </div>
    <div class="{{ item_class }} {% if page.name == 'account' %}{{ active_class }}{% endif %}">
      {{ 'layout.customer.log_out' | t | customer_logout_link }}
    </div>
  {% else %}
    <div class="{{ item_class }} {% if page.name == 'account' %}{{ active_class }}{% endif %}">
      {{ 'layout.customer.log_in' | t | customer_login_link }}
    </div>
    {% comment %}<div>
      {{ 'layout.customer.create_account' | t | customer_register_link }}
    </div>{% endcomment %}
  {% endif %}
{% endif %}