<section class="search">
    <h1 class="serif-heading-l search__header">
      {% if search.performed %}
        <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
        {% if search.results_count > 0 %}
          {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
        {% else %}
          {{ 'general.search.no_results_html' | t: terms: search.terms }}
        {% endif %}
      {% else %}
        {{ 'general.search.title' | t }}
      {% endif %}
    </h1>
    <div>
    {% if search.performed %}

      {% if search.results_count > 0 %}
        {% paginate search.results by 48 %}
          <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
          {% include 'product-grid' with 
            products: search.results
          %}

          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        {% endpaginate %}
      {% else %}
        <p class="serif-body-l">
          Looking for something in particular? <u><a href="/#"=>Contact us.</a></u>
        </p>
      {% endif %}
    {% endif %}
    </div>

</section>