<div class="button-row {{ wrapper_class }">
  <div class="button-row__left serif-body-l {{ wrapper_class }}__left" {{ left_attributes }}>
    {{ left_html }}
  </div>

  <button {{ button_attributes}} class="button-row__button button-rect {{ wrapper_class }}__button" >
      {{ button_content }}
  </button>
</div>
