<section class="product-grid">
  <div class="grid">
    {% for product in products %}
      {% if product.object_type == 'product' %}
        <div class="product-grid__product grid__item medium-up--one-third small--one-half">
          {% if product.featured_image != blank %}
            <a href="{{ product.url | within: collection }}">
              {% include 'responsive-image' with
                image: product.featured_image,
                max_width: 700,
                max_height: 560,
                aspect_ratio: 1.25,
                image_class: "product-grid__product__image"
              %}
            </a>
          {% endif %}

          <div class="product-grid__product__metadata serif-body-m">
            {% assign vendor_collection = null %}
            {% for p_collection in product.collections %}
              {% assign collection_title_downcase = p_collection.title | downcase %}
              {% assign product_vendor_downcase = product.vendor | downcase %}
              {% if collection_title_downcase == product_vendor_downcase %}
                {% assign vendor_collection = p_collection %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if vendor_collection %}
              <p class="product-grid__product__metadata__vendor">
                <a class="faux-underline" href="{{ vendor_collection.url }}">
                  {{ product.vendor }}
                </a>
              </p>
            {% else if product.vendor != blank %}
              <p class="product-grid__product__metadata__vendor">
                <span class="faux-underline">
                  {{ product.vendor | link_to_vendor }}
                </span>
              </p>
            {% endif %}
            <p>
              <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
            </p>

            <p>
              {% if product.available %}
              {% comment %} On sale {% endcomment %}
                {% if product.compare_at_price > product.price %}
                  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  <s class="product-grid__product__metadata__strikethrough_price">
                    {{ product.compare_at_price | money_without_trailing_zeros }}
                  </s>
                  &nbsp;
                  {% if product.price_varies %}
                    {%- assign sale_price = product.price | money -%}
                    {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                  {% else %}
                    {{ product.price | money_without_trailing_zeros }}
                  {% endif %}

                {% else %}
                {% comment %} Available; not on sale {% endcomment %}
                  {% if product.price_varies %}
                    {%- assign price = product.price | money -%}
                    {{ 'products.product.from_text_html' | t: price: price }}
                  {% else %}
                    {{ product.price | money }}
                  {% endif %}
                {% endif %}

              {% else %}
              {% comment %} Sold {% endcomment %}
                <s class="product-grid__product__metadata__strikethrough_price">
                  {{ product.price | money_without_trailing_zeros }}
                </s>
                &nbsp;
                <i>{{ 'products.product.sold_out' | t }}</i>
              {% endif %}
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

