<div class="product-card">
  {% if card_product.featured_image != blank %}
    <a class="product-card__images rel" href="{{ card_product.url | within: collection }}">
      {% include 'responsive-image' with
        image: card_product.featured_image,
        max_width: 700,
        max_height: 560,
        image_class: "product-card__image",
        wrapper_class: "product-card__image-wrapper product-card__image-wrapper--primary"
      %}
      <div class="product-card__image-wrapper product-card__image-wrapper--secondary abs x y fill">
        {% include 'responsive-image-only' with
          image: card_product.images[1],
          image_class: "js product-card__image x y object-cover"
        %}
      </div>
    </a>
  {% endif %}

  <div class="product-card__metadata serif-body-m">
    <p class="product-card__vendor">
      {% include 'vendor-link' %}
    </p>

    <p>
      <a href="{{ card_product.url | within: collection }}">{{ card_product.title }}</a>
    </p>

    <p>
      {% if card_product.available %}
      {% comment %} On sale {% endcomment %}
        {% if card_product.compare_at_price > card_product.price %}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <s class="product-card__strikethrough_price">{{ card_product.compare_at_price | money_without_trailing_zeros }}</s>
          &nbsp;
          {% if card_product.price_varies %}
            {%- assign sale_price = card_product.price | money_without_trailing_zeros -%}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
            {{ card_product.price | money_without_trailing_zeros }}
          {% endif %}

        {% else %}
        {% comment %} Available; not on sale {% endcomment %}
          {% if card_product.price_varies %}
            {%- assign price = card_product.price | money_without_trailing_zeros -%}
            {{ 'products.product.from_text_html' | t: price: price }}
          {% else %}
            {{ card_product.price | money_without_trailing_zeros }}
          {% endif %}
        {% endif %}

      {% else %}
      {% comment %} Sold {% endcomment %}
        <s class="product-card__strikethrough_price">{{ card_product.price | money_without_trailing_zeros }}</s>
        &nbsp;
        <i>{{ 'products.product.sold_out' | t }}</i>
      {% endif %}
    </p>
  </div>
</div>

{% assign card_product = blank %}