<div class="product-masonry" {% if infinite_scroll == true %} data-product-infinite-scroll {% endif %}>
  {% if masonry_items.size > 0 %}

      <div class="product-masonry__container js-hidden">
        {% for product in masonry_items %}
          {% if product.object_type == 'product' %}
            <div data-animate="fade-in" class="product-masonry__item medium-up--one-third small--one-half">
              {% include 'product-card', card_product: product %}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      {% if paginate.next.is_link %}
        <a class="hide product-masonry__next" href="{{ paginate.next.url }}">{{ paginate.next.title }}</a>
      {% endif %}

      <div class="no-js">
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      </div>

      <div class="text-center js product-masonry__bottom">
      {% if infinite_scroll == true %}
        <div class="product-masonry__status">
          <p class="infinite-scroll-request">Loading...</p>
          <p class="infinite-scroll-last"></p>
          <p class="infinite-scroll-error">There was an error.</p>
        </div>
        <p><span class="sans-serif-uppercase-m faux-underline product-masonry__view-more">{{ view_more_text | default: 'See More' }}</span></p>

      {% elsif view_all == true %}
        <p><a href="{{ masonry_collection.url }}" class="sans-serif-uppercase-m faux-underline product-masonry__view-more">{{ view_more_text | default: 'See More' }}</a></p>
      {% endif %}
    </div>

  {% else %}
    <div class="serif-body-m"><i>{{ 'collections.general.no_matches' | t }}</i></div>
  {% endif %}
</div>

{% assign masonry_collection = blank %}
{% assign view_more_text = blank %}
{% assign view_all = false %}
{% assign infinite_scroll = false %}
