<div class="product__form__cta">
  <div class="product__form__cta__price serif-body-l" data-price-wrapper>
    {% if product.compare_at_price_max > product.price %}
      <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
      <s class="product__form__cta__price__compare" data-compare-price>
        {% if current_variant.compare_at_price > current_variant.price %}
          {{ current_variant.compare_at_price | money }}
        {% endif %}
      </s>
    {% endif %}
    <span class="product__form__cta__price__actual" data-product-price>
      {{ current_variant.price | money }}
    </span>
  </div>

  <button
    type="submit"
    name="add"
    data-submit-button
    class="product__form__cta__button button-rect"
    {% unless current_variant.available %}disabled="disabled"{% endunless %}>
      <span data-submit-button-text>
        {% if current_variant.available %}
          {{ 'products.product.add_to_cart' | t }}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </span>
  </button>
</div>