{%- capture search_form_counter %}{% increment search_form_counter %}{% endcapture -%}
<form data-section-id="search-form-{{search_form_counter}}" data-section-type="search-form" action="/search" method="get" role="search" class="search-form {% if expanded %}expanded{% endif %}">
  <label for="Search-{{ search_form_counter }}" class="search-form__label">
    Search
  </label>

  <div class="search-form__entry">
    <input type="search"
      class="search-form__input sans-serif-m"
      name="q"
      id="Search-{{ search_form_counter }}"
      value="{{ search.terms | escape }}"
      placeholder="{{ 'general.search.placeholder' | t }}">

    <button type="submit" class="button search-form__button">
      {% include 'icon-search' %}
      <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
    </button>
  </div>
</form>