{% paginate customer.addresses by 5 %}

<div class="account-container  serif-body-m">
  {% assign addresses_title = 'customer.account.title' | t %}
  {% include 'title-header', title: addresses_title, show_on_desktop: true %}


  <div class="account-content addresses">
    <div class="addresses__top">
      <h2 class="medium-up--serif-heading-l small--serif-heading-m">{{ 'customer.addresses.add_new' | t }}</h2>
      <a class="account-top-right-link serif-body-m" href="/account">{{ 'customer.account.return' | t }}</a>
    </div>

    <div data-address>
      <div data-address-form>
        {% form 'customer_address', customer.new_address %}
          <div class="flex-form">
          <label class="label-hidden" for="AddressFirstNameNew">
            {{ 'customer.addresses.first_name' | t }}
          </label>
          <input type="text"
                class="addresses__first-name one-half"
                name="address[first_name]"
                id="AddressFirstNameNew"
                value="{{ form.first_name }}"
                placeholder="{{ 'customer.addresses.first_name' | t | downcase }}"
                autocapitalize="words">

          <label class="label-hidden"  for="AddressLastNameNew">
            {{ 'customer.addresses.last_name' | t }}
          </label>
          <input type="text"
                class="addresses__last-name one-half"
                name="address[last_name]"
                id="AddressLastNameNew"
                value="{{ form.last_name }}"
                placeholder="{{ 'customer.addresses.last_name' | t | downcase }}"
                autocapitalize="words">

          <label class="label-hidden"  for="AddressCompanyNew">
            {{ 'customer.addresses.company' | t }}
          </label>
          <input type="text"
                class="addresses__company one-whole"
                name="address[company]"
                id="AddressCompanyNew"
                value="{{ form.company }}"
                placeholder="{{ 'customer.addresses.company' | t | downcase }}"
                autocapitalize="words">

          <label class="label-hidden"  for="AddressAddress1New">
            {{ 'customer.addresses.address1' | t }}
          </label>
          <input type="text"
                class="addresses__address-1 one-whole"
                name="address[address1]"
                id="AddressAddress1New"
                value="{{ form.address1 }}"
                placeholder="{{ 'customer.addresses.address1' | t | downcase }}"
                autocapitalize="words">

          <label class="label-hidden"  for="AddressAddress2New">
            {{ 'customer.addresses.address2' | t }}
          </label>
          <input type="text"
                class="addresses__address-2 one-whole"
                name="address[address2]"
                id="AddressAddress2New"
                value="{{ form.address2 }}"
                placeholder="{{ 'customer.addresses.address2' | t | downcase}}"
                autocapitalize="words">

          <label class="label-hidden"  for="AddressCityNew">
            {{ 'customer.addresses.city' | t }}
          </label>
          <input type="text"
                class="addresses__city one-half"
                name="address[city]"
                id="AddressCityNew"
                value="{{ form.city }}"
                placeholder="{{ 'customer.addresses.city' | t | downcase }}"
                autocapitalize="words">

          <div data-address-province-wrapper class="hide one-half">
            <label  class="label-hidden" for="AddressProvinceNew">
              {{ 'customer.addresses.province' | t }}
            </label>
            <select data-address-province
              class="addresses__province one-whole"
              name="address[province]"
              id="AddressProvinceNew"
              data-default="{{ form.province }}">
            </select>
          </div>

          <div class="one-half"></div>

          <label class="label-hidden"  for="AddressCountryNew">
            {{ 'customer.addresses.country' | t }}
          </label>
          <select data-address-country
            class="addresses__country one-half"
            name="address[country]"
            id="AddressCountryNew"
            placeholder="{{ 'customer.addresses.country' | t | downcase }}"
            data-default="{{ form.country }}">
          </select>



          <label  class="label-hidden" for="AddressZipNew">
            {{ 'customer.addresses.zip' | t }}
          </label>
          <input type="text"
              class="addresses__zip one-half"
              name="address[zip]"
              id="AddressZipNew"
              value="{{ form.zip }}"
              placeholder="{{ 'customer.addresses.zip' | t | downcase }}"
              autocapitalize="characters">

          <label  class="label-hidden" for="AddressPhoneNew">
            {{ 'customer.addresses.phone' | t }}
          </label>
          <input type="tel"
              class="addresses__phone one-half"
                name="address[phone]"
                id="AddressPhoneNew"
                value="{{ form.phone }}"
                placeholder="{{ 'customer.addresses.phone' | t | downcase }}"
                pattern="[0-9\-]*">

          </div>
          <div class="addresses__default">
            {{ form.set_as_default_checkbox }}
            <label class="addresses__default for="address_default_address_new">
              {{ 'customer.addresses.set_default' | t }}
            </label>
          </div>

          <div class="form-bottom">

            <button class="button button-rect" type="submit">{{ 'customer.addresses.add' | t }}</button>
          </div>
        {% endform %}
      </div>
    </div>

    <h2 class="medium-up--serif-heading-l small--serif-heading-m">{{ 'customer.addresses.title' | t }}</h2>

    {% for address in customer.addresses %}

      <div data-address>

        {% if address == customer.default_address %}
          <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
        {% endif %}
        {{ address | format_address }}

        <div class="form-bottom">
          <button class="button button-rect" type="button" data-address-toggle>
            {{ 'customer.addresses.edit' | t }}
          </button>
          <form class="addresses__delete" data-address-delete-form method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
            <input type="hidden" name="_method" value="delete"/>
            <button class="button button-rect button-rect--secondary" type="submit">
              {{ 'customer.addresses.delete' | t }}
            </button>
          </form>
        </div>

        <div data-address-form class="hide">
          {% form 'customer_address', address %}

          <h3 class="small--serif-body-xl medium-up--serif-heading-m">{{ 'customer.addresses.edit_address' | t }}</h3>

          <div class="flex-form">
            <label class="label-hidden" for="AddressFirstName_{{ form.id }}">
              {{ 'customer.addresses.first_name' | t }}
            </label>
            <input type="text"
                  class="one-half"
                  name="address[first_name]"
                  placeholder=" {{ 'customer.addresses.first_name' | t | downcase }}"
                  id="AddressFirstName_{{ form.id }}"
                  value="{{ form.first_name }}"
                  autocapitalize="words">

            <label class="label-hidden" for="AddressLastName_{{ form.id }}">
              {{ 'customer.addresses.last_name' | t }}
            </label>
            <input type="text"
                  class="one-half"
                  name="address[last_name]"
                  placeholder=" {{ 'customer.addresses.last_name' | t | downcase }}"
                  id="AddressLastName_{{ form.id }}"
                  value="{{ form.last_name }}"
                  autocapitalize="words">

            <label class="label-hidden" for="AddressCompany_{{ form.id }}">
              {{ 'customer.addresses.company' | t }}
            </label>
            <input type="text"
                  class="one-whole"
                  placeholder=" {{ 'customer.addresses.company' | t | downcase }}"
                  name="address[company]"
                  id="AddressCompany_{{ form.id }}"
                  value="{{ form.company }}"
                  autocapitalize="words">

            <label class="label-hidden" for="AddressAddress1_{{ form.id }}">
              {{ 'customer.addresses.address1' | t }}
            </label>
            <input type="text"
                  class="one-whole"
                  name="address[address1]"
                  placeholder=" {{ 'customer.addresses.address1' | t | downcase }}"
                  id="AddressAddress1_{{ form.id }}"
                  value="{{ form.address1 }}"
                  autocapitalize="words">

            <label class="label-hidden" for="AddressAddress2_{{ form.id }}">
              {{ 'customer.addresses.address2' | t }}
            </label>
            <input type="text"
                  class="one-whole"
                  placeholder=" {{ 'customer.addresses.address2' | t | downcase }}"
                  name="address[address2]"
                  id="AddressAddress2_{{ form.id }}"
                  value="{{ form.address2 }}"
                  autocapitalize="words">

            <label class="label-hidden" for="AddressCity_{{ form.id }}">
              {{ 'customer.addresses.city' | t }}
            </label>
            <input type="text"
                  class="one-half"
                  name="address[city]"
                  placeholder=" {{ 'customer.addresses.city' | t | downcase }}"
                  id="AddressCity_{{ form.id }}"
                  value="{{ form.city }}"
                  autocapitalize="words">

            <div class="one-half" id="AddressProvinceContainer_{{ form.id }}" data-address-province-wrapper class="hide">
              <label class="label-hidden" for="AddressProvince_{{ form.id }}">
                {{ 'customer.addresses.province' | t }}
              </label>
              <select data-address-province
                name="address[province]"
                class="one-whole"
                placeholder=" {{ 'customer.addresses.province' | t | downcase }}"
                id="AddressProvince_{{ form.id }}"
                data-default="{{ form.province }}">
              </select>
            </div>

            <div class="one-half"></div>

            <label class="label-hidden" for="AddressCountry_{{ form.id }}">
              {{ 'customer.addresses.country' | t }}
            </label>
            <select data-address-country
              name="address[country]"
              id="AddressCountry_{{ form.id }}"
              class="address-country-option one-half"
              placeholder=" {{ 'customer.addresses.country' | t | downcase }}"
              data-form-id="{{ form.id }}"
              data-default="{{ form.country }}">
            </select>


            <label class="label-hidden" for="AddressZip_{{ form.id }}">
              {{ 'customer.addresses.zip' | t }}
            </label>
            <input type="text"
                  class="one-half"
                  name="address[zip]"
                  id="AddressZip_{{ form.id }}"
                  placeholder=" {{ 'customer.addresses.zip' | t | downcase }}"
                  value="{{ form.zip }}"
                  autocapitalize="characters">

            <label class="label-hidden" for="AddressPhone_{{ form.id }}">
              {{ 'customer.addresses.phone' | t }}
            </label>
            <input type="tel"
                  class="one-half"
                  placeholder=" {{ 'customer.addresses.phone' | t | downcase }}"
                  name="address[phone]"
                  id="AddressPhone_{{ form.id }}"
                  value="{{ form.phone }}"
                  pattern="[0-9\-]*">
          </div>
          <div class="addresses__default">
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_{{ form.id }}">
              {{ 'customer.addresses.set_default' | t }}
            </label>
          </div>

          <div class="form-bottom">

            <button class="button button-rect" type="submit">{{ 'customer.addresses.update' | t }}</button>
            <button class="button button-rect button-rect--secondary" type="button" data-address-toggle data-form-id="{{ form.id }}">
              {{ 'customer.addresses.cancel' | t }}
            </button>
          </div>
          {% endform %}

        </div>
      </div>
    {% else %}
      <p>You don't have any addresses saved yet.</p>
    {% endfor %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  </div>
</div>

{% endpaginate %}
