<script type="text/javascript" src="{{ 'component-homepage-logo.js' | asset_url }}" defer></script>

<homepage-logo class="homepage-logo {{ section.settings.layout }}">
  <h1>
    <img class="homepage-logo__image medium-down--hide" src="{{ settings.logo | img_url: '300x' }}"
        srcset="{{ settings.logo | img_url: '300x' }} 1x, {{ settings.logo | img_url: '600x' }} 2x, {{ settings.logo | img_url: '900' }} 3x, {{ settings.logo | img_url: '1200x' }} 4x," alt="{{ shop.name }}">
    <img class="homepage-logo__image large-up--hide" src="{{ settings.logo | img_url: '200x' }}"
        srcset="{{ settings.logo | img_url: '200x' }} 1x, {{ settings.logo | img_url: '400x' }} 2x, {{ settings.logo | img_url: '600x' }} 3x, {{ settings.logo | img_url: '800x' }} 4x," alt="{{ shop.name }}">
  </h1>
</homepage-logo>
{% schema %}
  {
    "name": "Homepage Logo",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Logo Style",
        "default": "over-content",
        "options": [
          {
            "value": "over-content",
            "label": "Superimposed on content"
          },
          {
            "value": "before-content",
            "label": "Before content"
          }
        ]
      }
    ]
  }
{% endschema %}