{% if section.settings.enable %}
  <script type="text/javascript" src="{{ 'flickity@2.3.0.pkgd.min.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'component-instagram-feed.js' | asset_url }}" defer="defer"></script>
  {{ 'flickity@2.3.0.css' | asset_url | stylesheet_tag }}
  {{ 'flickity-custom.css' | asset_url | stylesheet_tag }}
  {{ 'instagram-feed.css' | asset_url | stylesheet_tag }}

  <instagram-feed>
      <section data-section-id="{{ section.id }}" data-section-type="instagram-feed" class="instagram-feed homepage-section">
      <div id="insta-feed" class="{{ section.settings.color }}"></div>
      {% if settings.social_instagram_link.size > 0 and section.settings.link_text.size > 0 %}
        <div class="instagram-feed__caption sans-serif-uppercase-l">
          <a href="{{ settings.social_instagram_link }}" target="_blank">{{ section.settings.link_text }}</a>
        </div>
      {% endif %}
    </section>
  </instagram-feed>

{% endif %}

{% schema %}
  {
    "name": "Instagram feed",
    "settings": [
      {
        "type": "paragraph",
        "content": "To configure the header and the connection to Instagram, use the Instafeed app."
      },
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable Instagram Feed",
        "default": false
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link Text",
        "default": "@FORSYTHART | SEE MORE"
      },
      {
        "type": "select",
        "id": "color",
        "label": "Arrow color",
        "default": "black",
        "options": [
          {
            "value": "black",
            "label": "Black"
          },
          {
            "value": "white",
            "label": "White"
          }
        ]
      }
    ]
  }
{% endschema %}