{{ 'image-with-text.css' | asset_url | stylesheet_tag }}

{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Newsletter" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the newsletter section
  - Subheading: description of the newsletter section
{%- endcomment -%}

{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}

<section class="homepage-image-with-text image-with-text max-width {{ section.settings.layout }}" data-section-id="{{ section.id }}" data-section-type="newsletter">
  <div class="image-with-text__image">
    {% if section.settings.image != blank %}
      {% render 'responsive-image' with
        image: section.settings.image,
        max_width: 545,
        max_height: 545,
        wrapper_class: "image-with-text__image__wrapper",
        image_class: "image-with-text__image__inner"
      %}
    {% else %}
      <div class="image-with-text__image__wrapper">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg image-with-text__image__inner' }}
      </div>
    {% endif %}
  </div>

  <div class="image-with-text__text">
    <div class="image-with-text__text__inner">
      {% if section.settings.title != blank %}
        <h2 class="image-with-text__text__inner__heading large-up--serif-heading-xl medium-down--serif-heading-l"><i>{{ section.settings.title | escape }}</i></h2>
      {% endif %}

      {% if section.settings.text != blank %}
        <div class="image-with-text__text__inner__copy serif-body-l">{{ section.settings.text }}</div>
      {% endif %}

      {% render 'newsletter-signup', success: section.settings.success, placeholder: section.settings.placeholder, class: 'homepage-newsletter' %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Newsletter",
    "class": "homepage-section newsletter",
    "settings": [
      {
        "type":      "paragraph",
        "content":   "Configure the connection to Mailchimp globally in the Theme settings."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Newsletter"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "success",
        "label": "Success Message",
        "default": "Thank you."
      },
      {
        "type": "text",
        "id": "placeholder",
        "label": "Placeholder",
        "default": "your email address"
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Promotional"
    }]
  }
{% endschema %}
