{{ 'component-stores-block.css' | asset_url | stylesheet_tag }}

{% include 'title-header', title: page.title %}
<div class="modular-text-page stores">
  <div class="modular-text-page__blocks stores__blocks">
    {% for block in section.blocks %}
      {% capture body_html %}
      <div class="stores__block__address">{{ block.settings.address }}</div>

      {% if block.settings.phone.size > 0 or block.settings.email.size > 0 %}
        <div class="stores__block__contact">
          <p class="stores__block__contact__phone"><a href="tel:{{ block.settings.phone }}" target="_blank">{{ block.settings.phone }}<a></p>
          <p class="stores__block__contact__email"><a href="mailto:{{ block.settings.email }}" target="_blank">{{ block.settings.email }}</a></p>
        </div>
      {% endif %}

      {% if block.settings.note.size > 0 %}
        <div class="stores__block__note">
          <p><i>{{ block.settings.note }}</i></p>
        </div>
      {% endif %}

      {% if block.settings.link.size > 0 %}
        <div class="stores__block__link"><p><a class="sans-serif-uppercase-m faux-underline" target="_blank" href="{{ block.settings.link }}">More Info</a></p></div>
      {% endif %}
      {% endcapture %}
      {% include 'modular-text-page-block', image: block.settings.image, heading: block.settings.city, body: body_html, container_class: "stores" %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Stores",
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "city",
            "label": "City"
          },
          {
            "type": "richtext",
            "id": "address",
            "label": "Address"
          },
          {
            "type": "text",
            "id": "email",
            "label": "Email"
          },
          {
            "type": "text",
            "id": "phone",
            "label": "Phone"
          },
          {
            "type": "textarea",
            "id": "note",
            "label": "Note"
          },
          {
            "type": "url",
            "id": "link",
            "label": "link"
          }
        ]
      }
    ]
  }
{% endschema %}