<div class="account-container medium-up--serif-body-l small--serif-body-m">


  <div class="account-form form-reset-password">
    {% form 'reset_customer_password' %}

      {% assign reset_title = 'customer.reset_password.title' | t %}

      {% include 'title-header', title: reset_title, show_on_desktop: true %}

      <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

      <p>{{ form.errors | default_errors }}</p>
      <div class="flex-form">
        <label for="ResetPassword" class="label-hidden">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="ResetPassword"
          class="one-whole {% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password' | t }}">

        <label for="PasswordConfirmation" class="label-hidden">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input type="password"
          name="customer[password_confirmation]"
          id="PasswordConfirmation"
          class="one-whole {% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
      </div>
      <div class="form-bottom">
        <button type="submit" class="button button-rect">{{ 'customer.reset_password.submit' | t }}</button>
      </div>
    {% endform %}
  </div>
</div>