{{ 'article.css' | asset_url | stylesheet_tag }}


{%- comment -%}
  In order to avoid showing "success" message when we post comments
  with invalid format (eg. blank fields), we added logic to make sure it doesn't show.

  Comment help page:
  http://docs.shopify.com/themes/liquid-variables/comment
{%- endcomment -%}
{% include 'title-header', title: 'Journal' %}


{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}


<script type="text/javascript" src="{{ 'flickity@2.3.0.pkgd.min.js' | asset_url }}"></script>
<script type="text/javascript" src="{{ 'flickity-fade@2.0.0.js' | asset_url }}" defer></script>
{{ 'flickity@2.3.0.css' | asset_url | stylesheet_tag }}
{{ 'flickity-fade@2.0.0.css' | asset_url | stylesheet_tag }}
{{ 'flickity-custom.css' | asset_url | stylesheet_tag }}

<article role="article" class="article">

  {% if article.image %}
      {%- assign image_size = article.image.width | append: 'x' -%}
      <div class="article__main-image"><img src="{{ article.image | img_url: image_size }}" /></div>
  {% endif %}

  <header role="banner" class="article__title text-center">
    <h1 class="medium-down--serif-heading-l large-up--serif-heading-xl"><i>{{ article.title }}</i></h1>
  </header>


  <section class="article__content small-down--serif-body-m medium-up--serif-body-l large-up--serif-body-xl rte" data-section-id="article-content" data-section-type="article-content">
    {{ article.content }}
  </section>


  {% if settings.social_sharing_blog %}
    {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
  {% endif %}

  {% if blog.comments_enabled? %}
    {% include 'blog-comments' %}
  {% endif %}


</article>


<hr />
{% section 'more-articles' %}

<hr />
{% section 'newsletter' %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>
