<section class="search">
  {% if search.performed %}
    <h1 class="search__header">
      <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
      {% if search.results_count > 0 %}
        {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {% else %}
        {{ 'general.search.no_results_html' | t: terms: search.terms }}
      {% endif %}
    </h1>
  {% endif %}

  <div>
    {% if search.performed %}

      {% if search.results_count > 0 %}
        {% paginate search.results by 24 %}
          <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
          {% include 'product-masonry', masonry_items: search.results, infinite_scroll: true %}
        {% endpaginate %}
      {% else %}
        {% section 'no-search-results' %}
      {% endif %}
    {% else %}
      <form action="/search" method="get" role="search" class="search-form expanded">
        <div class="search-form__entry">
          <input type="search"
            class="search-form__input serif-heading-l"
            name="q"
            id="Search-page"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'general.search.placeholder' | t }}">

          <button type="submit" class="button search-form__button">
            {% include 'icon-search' %}
            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </div>
      </form>
    {% endif %}
    </div>

</section>